:root{
    --orange: #e86121;
}
.home-index-slider .dandik {
  right: 30px;
}
.home-index-slider .bamdik {
  left: 30px;
}
.home-index-slider .slick-dots {
  bottom: 50px;
}
.banner-part {
  padding: 50px 0px 60px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.banner-part::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  background: url(../images/banner-shape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-1 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e860214f),
    to(#ffc3d024)
  );
  background: linear-gradient(to right, #e860213c, #ffc3d024);
}
.banner-2 {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#e860214f),
    to(#ffc3d024)
  );
  background: linear-gradient(to left, #e860214f, #ffc3d024);
}
.banner-content h1 {
  text-transform: capitalize;
  margin-bottom: 22px;
}
.banner-content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.banner-btn .btn {
  margin-right: 15px;
}
.banner-img img {
  width: 100%;
}
@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .banner-img {
    display: none;
  }
  .banner-btn .btn {
    margin: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner-content h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner-btn .btn {
    padding: 14px 22px;
    margin-right: 10px;
  }
}
.suggest-slider li {
  margin: 0px 10px;
}
@media (max-width: 575px) {
  .suggest-slider li {
    margin: 0px 5px;
  }
}
.promo-img {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.promo-img a {
  width: 100%;
}
.promo-img a img {
  width: 100%;
  border-radius: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.promo-img a img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .promo-img {
    margin: 12px 0px;
  }
}
.new-slider li {
  margin: 0px 12px;
}
@media (max-width: 575px) {
  .new-slider .product-card {
    width: 220px;
  }
}
.testimonial-slider .slick-slide {
  opacity: 0.3;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.testimonial-slider .slick-center {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.testimonial-slider .dandik,
.testimonial-slider .bamdik {
  opacity: 1;
  visibility: visible;
}
.testimonial-slider .dandik {
  right: 50px;
}
.testimonial-slider .bamdik {
  left: 50px;
}
.brand-slider .dandik,
.brand-slider .bamdik {
  top: 35%;
}
.blog-slider .blog-card {
  margin: 0px 15px 25px;
}
.blog-slider .dandik,
.blog-slider .bamdik {
  top: 43%;
}
@media (max-width: 767px) {
  .blog-slider .blog-card {
    margin: 0px 10px 25px;
  }
}
.header-part{
    /* background: linear-gradient(to right, rgb(118, 255, 122) , #E86121); */
    /* background-color: var(--orange); */
    background-color: #ba3e1d;
}
.wth{
  width: 30% !important;
  cursor: pointer;
}
.city{
  padding: 0px!important;
  margin: 0% 15px;
  width: 125px;
  text-align: center;
}
.text-orange{
  color: var(--orange);
}
.myInp{
  border: 1px solid rgba(80, 80, 80, 0.641);
  border-radius: 7px;
}
.logi{
  background-color: #011936;
  color: white;
  padding: 5px 10px;
  border-color: #011837;
}

.btn-outline.blue {
  color: #011936;
  border-color: #011936;
}

.btn-outline.blue:hover {
  background-color: #011936;
}

.btn-outline:hover {
  color: var(--white);
  background: var(--primary);
}
.home-category-slider a img {
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 575px) {
  .home-category-slider a {
    margin: 0px 5px;
  }
}
.banner-part {
  margin-bottom: 20px;
}

/* copies from old homemade */
.promo-img {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.promo-img a {
  width: 100%;
}
.promo-img a img {
  width: 100%;
  border-radius: 8px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.promo-img a img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .promo-img {
    margin: 12px 0px;
  }
}
.new-slider li {
  margin: 0px 12px;
}
@media (max-width: 575px) {
  .new-slider .product-card {
    width: 220px;
  }
}
.brand-slider .dandik,
.brand-slider .bamdik {
  top: 35%;
}
.testimonial-slider .slick-slide {
  opacity: 0.3;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.testimonial-slider .slick-center {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.testimonial-slider .dandik,
.testimonial-slider .bamdik {
  opacity: 1;
  visibility: visible;
}
.testimonial-slider .dandik {
  right: 50px;
}
.testimonial-slider .bamdik {
  left: 50px;
}
.blog-slider .blog-card {
  margin: 0px 15px 25px;
}
.blog-slider .dandik,
.blog-slider .bamdik {
  top: 43%;
}
@media (max-width: 767px) {
  .blog-slider .blog-card {
    margin: 0px 10px 25px;
  }
}
.suggest-part {
  padding: 30px 0px 22px;
}
.suggest-slider li {
  margin: 0px 10px;
}
@media (max-width: 575px) {
  .suggest-part {
    padding: 20px 0px 12px;
  }
  .suggest-slider li {
    margin: 0px 5px;
  }
}
.home-item.promo-part .promo-img {
  display: flex;
  background: #ffffff;
  align-items: center;
  padding: 20px 50px;
  min-height: 270px;
}

.home-item.promo-part .promo-img .btn-outline {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #E86121;
  border: 0;
  padding: 7px 14px;
  width: auto;
  margin-top: 25px;
  border-radius: 3px;
}

.home-item.promo-part .promo-img .btn-outline:hover {
  background-color: #FFAB10;
}

.home-item.promo-part .promo-img h2 {
  color: #011837;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.top-seller .suggest-card img {
  width: 50%;
  border-radius: 5px;
  float: right;
}

.top-seller .suggest-card::before {
  display: none;
}

.top-seller .suggest-card h5 {
  position: relative;
  transform: none;
  top: auto;
  left: auto;
  width: 100%;
  text-align: left;
}

.top-seller {
  margin-bottom: 130px;
}

.banner-part {
  margin-top: 60px;
}

.top-seller .suggest-slider li {
  align-items: center;
  margin: 0px 10px;
  display: flex !important;
  background: #ffffff;
  padding: 35px;
  border-radius: 10px;
  justify-content: space-between;
}

.top-seller .img img {
  max-width: 100%;
}

.top-seller .suggest-slider .btn-outline {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #E86121;
  border: 0;
  padding: 7px 14px;
  width: auto;
  margin-top: 25px;
  border-radius: 3px;
}

.top-seller .suggest-slider .btn-outline:hover {
  background-color: #FFAB10;
}

.top-seller .suggest-slider h5 {
  font-size: 30px;
  font-weight: 500;
}

.top-seller .suggest-slider h5 span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.testimonial-card {
  width: 100%;
  padding: 50px 50px 0px;
  margin: 0px 15px 30px;
  text-align: center;
  border-radius: 8px;
  background: #011936;
}

.schctbt{
  background-color: white;
  color: #011837;
  padding: 10px 15px;
  margin: 10px 10px ;
  border: 1px solid rgba(0, 0, 0, 0.496);
}
.schctbt:hover{
  background-color: var(--orange);
  border: none;
}

.details-tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.details-tag-list li {
  margin-right: 8px;
}
.details-tag-list li a {
  font-size: 20px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: var(--text);
  background: var(--chalk);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.details-tag-list li a:hover {
  color: var(--white);
  background: var(--orange);
}
.details-list-title {
  font-weight: 500;
  margin-right: 15px;
  color: var(--heading);
  text-transform: capitalize;
}
.details-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.details-list-group:last-child {
  margin-bottom: 0px;
}

.banner-part {
  margin-top: 25px;
  margin-bottom: 25px;
}
.home-category-slider a img {
  width: 100%;
  border-radius: 8px;
  height: 60vh;
}
@media (max-width: 575px) {
  .home-category-slider a {
    margin: 0px 5px;
  }
}
.section{
  margin-bottom: 70px;
}
.cata{
  background-color: #e86021;
  text-decoration: none;
  margin-bottom: 20px;
}