@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.ot {
    margin-top: 50px;
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: var(--orange)
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: var(--orange);
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.btn-color {
    color: #ffffff;
    background-color: var(--orange);
}

.sellerViewCard{
    padding: 30px;
    border-radius: 15px;
}
.sellerViewCard h5{
    font-size: 7mm;
    margin-bottom: 10px;
}
.sellerViewCard a{
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid rgb(255, 123, 0);
    background-color: #E86121;
    color: white;
}
.sellerViewCard a:hover{
    background-color: white;
    color: black;
}
.top-seller .img img {
    max-width: 100%;
}
.top-seller .suggest-card img {
    width: 50%;
    border-radius: 5px;
    float: right;
}

.top-seller .suggest-card::before {
    display: none;
}

.top-seller .suggest-card h5 {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    width: 100%;
    text-align: left;
}

.top-seller {
    margin-bottom: 130px;
}

.banner-part {
    margin-top: 60px;
}

.top-seller .suggest-slider li {
    align-items: center;
    margin: 0px 10px;
    display: flex !important;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.top-seller .img img {
    max-width: 100%;
}

.top-seller .suggest-slider .btn-outline {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: #E86121;
    border: 0;
    padding: 7px 14px;
    width: auto;
    margin-top: 25px;
    border-radius: 3px;
}

.top-seller .suggest-slider .btn-outline:hover {
    background-color: #FFAB10;
}

.top-seller .suggest-slider h5 {
    font-size: 30px;
    font-weight: 500;
}

.top-seller .suggest-slider h5 span {
    font-size: 16px;
    font-weight: 500;
    display: block;
}